<ion-header>
  <ion-navbar>
    <ion-title>
      പഴംകളി
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="restart()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  #content padding>
  <ion-list *ngFor="let item of [[0,1,2],[3,4,5],[6,7,8]];" class="flex-container">
    <button *ngFor="let itemValue of item;"  [colorChange]='color[itemValue]' class="flex-item" (click)="checkStatus(itemValue)"></button>
  </ion-list>
  <p *ngIf="gameFinished">
    <button  [ngStyle]="{'background-color':(currentPlayer)? 'tomato':'green'}" class="flex-item" ></button> Wins
  </p>
</ion-content>
